
<nav class="navbar navbar-expand-lg fixed-top" data-bs-theme="dark"> <!-- fixed-top > antes de bg -->
  <div class="container-fluid">
   <img id="logo-navbar" src="./assets/img/logo/logoCuadrado.png" alt="Logo" width="120" height="90" class="d-inline-block align-text-top">
  
   <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLinkActive="active">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/servicios" routerLinkActive="active">SERVICIOS</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLinkActive="active">NUESTRO EQUIPO</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/instalaciones"routerLinkActive="active">INSTALACIONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/formulario" routerLinkActive="active">CONTACTO</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">VEN A PROBAR!! </a>
        </li>
 -->

      </ul>



        <!-- MENOS OSCURO EL COLOR PERO SE RESALTA CUANDO CURSOR POR ENCIMA
           <li class="nav-item">
          <a class="nav-link" href="#">SERVICIOS</a>
        </li> -->
     
       <!--
    

   BARRA BUSCADOR  <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


  <a href="mailto:info@sportcentermarva.com" title="Dirección de email para solicitar
más información">QUIERS MÁS INFORMACIÓN? </a>
  
  -->
    
      </div>
    </div>
  </div>
</nav>







