<div class="p-4 my-9" style="align-items: center;">
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: center;"><b><i><u>SERVICIOS</u></i></b></h1>
  <br>
  <h3 style="text-align: center;">ENTRENAMIENTO PERSONAL</h3>
  <br>
  <div style="align-items: center; background: linear-gradient(rgba(55, 55, 67, 0.748), rgb(0, 115, 255)); border-radius: 2%; padding: 15px;">
    <div class="card" style="width: 40%; margin-left: 400px;">
      <img src="assets\img\servicios\ePersonal3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Alcanza tus metas con un enfoque personalizado: Entrenamiento personal para maximizar tu potencial y transformar tu cuerpo."</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 440px;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
  </div>
  <br>
  <h3 style="text-align: center;">ENTRENAMIENTOS GRUPALES</h3>
  <br>
  <div style="display: flex; justify-content: center; background: linear-gradient(rgba(55, 55, 67, 0.748), rgb(0, 115, 255)); border-radius: 2%; padding: 15px;">
    <div class="card" style="width: 18rem; margin-right: 200px;">
      <img src="assets\img\servicios\MIITT.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MIT</h5>
        <p class="card-text">Entrenamiento de intervalos de alta intensidad, combina tiempo de trabajo y tiempo de descanso.</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 170px;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\img\servicios\TRAINING.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TRAINING</h5>
        <p class="card-text">Entrenamiento en grupos reducidos que combina trabajo de fuerza, movilidad y cardiovascular .</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 170px;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h3 style="text-align: center;">SERVICIOS ADICIONALES</h3>
  <br>
  <div style="display: flex; justify-content: center; background: linear-gradient(rgba(55, 55, 67, 0.748), rgb(0, 115, 255)); border-radius: 2%; padding: 15px;">
    <div class="card" style="width: 18rem; margin-right: 100px;">
      <img src="assets\img\servicios\fisio.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FISIOTERAPIA</h5>
        <p class="card-text">Recupera tu bienestar: Servicios de Fisioterapia dedicados a tu salud y vitalidad</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 170px; margin-top: 255px;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin-right: 100px;">
      <img src="assets\img\servicios\nutri4.jpg" class="card-img-top" alt="..." style="height: 445px; width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">NUTRICIONISTA</h5>
        <p class="card-text">Alimentar tu bienestar y potenciar tu salud desde adentro hacia afuera</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 170px; margin-top: 30px;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\img\servicios\pesosLibres.png" class="card-img-top" alt="..." style="height: 450px;">
      <div class="card-body">
        <h5 class="card-title">ENTRENAMIENTO LIBRE</h5>
        <p class="card-text">Cuenta con todas nuestras máquinas y demas equipo para realizar tus actividades</p>
        <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 170px; justify-content: end;" (click)="scrollToTop()">Ver mas</a>
      </div>
    </div>
  </div>
  <br>
  <!-- <br>
  <a routerLink="/servicio" class="btn btn-primary" type="button" style="margin-left: 600px;">Mas detalles</a> -->
</div>


