.display-5 {
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}
.fs-4{
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}

.CaracteristicasIconos {
    display: flex;
    align-items: center;
    padding: 2.5em;
}


.CaracteristicasSection {
    background-color: #F2F2F2;
    margin-bottom: 3em;
}


/* CUSTOMIZE THE CAROUSEL
---
.----------------------------------------------- */

.google
{
  margin-top: 10%;
  align-items: center;
}

.bd-placeholder-img.bd-placeholder-img-lg.d-block.w-100
{
border-radius: 20%;
}