.display-5 {
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}
.fs-4{
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}

.CaracteristicasIconos {
    display: flex;
    align-items: center;
    padding: 2.5em;
}


.CaracteristicasSection {
    background-color: #F2F2F2;
    margin-bottom: 3em;
}

/* CUSTOMIZE el SERVICIOS DESTACADOS
----------------------------------------------- */
.aboutUs{
    margin-bottom: 4rem;
}
.display-5.fw-bold{
    color: black;
   


}
.btn.btn-primary.btn-lg.px-4.me-sm-3{
    background-color: #1E277C;
   
}
a{
    color: #F2F2F2;

}

/* aplica texto justificado al texto del <p> */
.text-justify { 
    text-align: justify;
  }



/* CUSTOMIZE THE CAROUSEL
---
.----------------------------------------------- */
.carousel{
    margin-bottom: 4rem;
}

.carousel-captio.d-none.d-md-block{
    font-weight: 800;
    font-family: 'Open Sans Condensed', sans-serif;
}
.carousel-inner.carousel-fade.carousel-dark h5{

    font-weight: 800;
    font-family: 'Open Sans Condensed', sans-serif;

}

.fotos{
    margin-top: 3rem;
}
