.display-5 {
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}
.fs-4{
    font-family:'Open Sans Condensed', sans-serif;
    color: aliceblue;
}

.CaracteristicasIconos {
    display: flex;
    align-items: center;
    padding: 2.5em;
}


.CaracteristicasSection {
    background-color: #F2F2F2;
    margin-bottom: 3em;
}


/* CUSTOMIZE THE CAROUSEL
---
.----------------------------------------------- */
.carousel-serviciosdestacados{

    margin-bottom: 3em;
}
