<!-- PRUEBA CAROUSEL  -->
<br>
<br>


<div class="container img-fluid">
<div class="carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide pointer-event" data-bs-ride="carousel">
      <div class="carousel-inner">
  
        <div class="carousel-item data-bs-interval=2000 ">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title></title>
            <image xlink:href="assets\img\centro\entrada_.png" width="100%" height="100%" />
          </svg>
      </div>
  
        <div class="carousel-item data-bs-interval=2000">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title></title>
            <image xlink:href="assets\img\centro\salaGris.png" width="100%" height="100%" />
          </svg>
        </div>
  
        <div class="carousel-item active data-bs-interval=2000">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>NUTRICIÓN</title>
            <image xlink:href="assets\img\centro\salaTrineo1.jpg" width="100%" height="100%" />
          </svg>
        </div>
  
        <div class="carousel-item data-bs-interval=2000">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>ENTRENAMIENTOS GRUPALES</title>
              <image xlink:href="assets\img\centro\hipThruster.png" width="100%" height="100%" />
            </svg>
          </div>
          
          <div class="carousel-item data-bs-interval=2000">
              <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>ACCESO POR LIBRE</title>
                <image xlink:href="assets\img\servicios\pesosLibres1.png" width="100%" height="100%" />
              </svg>
          </div>
  
       </div>
    </div>
  </div>
</div>

  <div class="container img-fluid">

    
   
    

  </div>
  